.w-100.mb-3{
    background-color: #083654;
    border-radius: 12px;
    transition-duration: 0.4s;
}
.w-100.mb-3:Hover{
    background-color: white;
    color:black;
}
/* .me-2{
    border-radius: 12px;
    transition-duration: 0.4s;
}
.me-2:Hover{
    background-color: white;
    color:black;
} */